h2, h1 {
  background: linear-gradient(120deg, #00FF94, #E9FFF6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.socials .socialIcon, h2.undertitle {
  background: linear-gradient(120deg, #00C2FF, #F3FCFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #02001F;
}

h1 {
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}
p {
  text-align: center;
  color: #FBFBFB;
  font-size: 18px;
  padding: 0 10vw;
}

a {
  font-size: 18px;
}

b {
  color: #2DCDFF;
}

#menuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 15px;
  right: 20px;
  height: 36px;
  width: 50px;
}
#menuButton:hover div {
  cursor: pointer;
  box-shadow: black 1px 1px 50px;
}
#menuButton div {
  width: 100%;
  height: 22%;
  background: linear-gradient(120deg, #00C2FF, #F3FCFF);
  border-radius: 2px;
}
#menuButton div:first-child {
  width: 75%;
}

#menu {
  transition: all 200ms;
  width: 60vw;
  margin: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 20vw;
  z-index: 2;
  background: #ffffff;
  border-radius: 0 0 20px 20px;
  list-style: none;
}
#menu li {
  text-align: center;
}
#menu li a {
  color: #02001F;
  text-decoration: none;
  font-size: 36px;
}
#menu li a:hover {
  color: #494949;
  text-decoration: underline;
}

#menuOverlay {
  transition: all 200ms;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#headingImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
#headingImg .headerImgBorder {
  position: relative;
  top: 0;
  height: 200px;
  width: 200px;
  background: linear-gradient(120deg, #00FF94, #E9FFF6);
  border-radius: 50%;
}
#headingImg .headerImgBorder img {
  position: relative;
  top: 3px;
  left: 3px;
  height: 194px;
  width: 194px;
  border-radius: 50%;
}
#headingImg hr {
  position: relative;
  top: 100px;
  height: 3px;
  width: 100vw;
  margin: 0;
  background: linear-gradient(120deg, #00FF94, #E9FFF6);
  border: none;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials .socialIcon {
  margin: 0 10px;
  cursor: pointer;
}
.socials .socialIcon:hover {
  text-shadow: black 1px 1px 50px;
}

#projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 540px;
}
#projectsContainer .project {
  height: 260px;
  width: 260px;
  margin: 5px;
  background: linear-gradient(120deg, #00C2FF, #F3FCFF);
  cursor: pointer;
}
#projectsContainer .project:first-child, #projectsContainer .project:first-child img, #projectsContainer .project:first-child .banner {
  border-radius: 20px 20px 0 0;
}
#projectsContainer .project:last-child, #projectsContainer .project:last-child img {
  border-radius: 0 0 20px 20px;
}
#projectsContainer .project img {
  position: relative;
  left: 2px;
  top: 2px;
  height: 256px;
  width: 256px;
  object-fit: cover;
}
#projectsContainer .project .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -260px;
  height: 15%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: height 300ms ease-out;
}
#projectsContainer .project .banner p {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  font-size: 24px;
}
#projectsContainer .project .banner small {
  display: none;
  text-align: center;
  color: #FBFBFB;
}
#projectsContainer .project:hover .banner {
  height: 100%;
}
#projectsContainer .project:hover .banner small {
  display: inline;
}

@media only screen and (min-width: 1000px) {
  #projectsContainer {
    flex-direction: row;
  }
  #projectsContainer .project:first-child, #projectsContainer .project:first-child img, #projectsContainer .project:first-child .banner {
    border-radius: 0;
  }
  #projectsContainer .project:last-child, #projectsContainer .project:last-child img {
    border-radius: 0;
  }
}
footer {
  height: 30px;
  width: 100%;
  margin-top: 80px;
  background: linear-gradient(120deg, #00FF94, #E9FFF6);
  text-align: center;
  color: #02001F;
}

/*# sourceMappingURL=styles.css.map */
