// Compile Sass to CSS: "sass --watch app/sass:public/stylesheets"
%green-text{
    background: linear-gradient(120deg, #00FF94, #E9FFF6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

%blue-text{
    background: linear-gradient(120deg, #00C2FF, #F3FCFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

$dark-color: #02001F;
$light-color: #FBFBFB;

$borderRadius: 20px;

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{  
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: $dark-color;
}

h1{
    @extend %green-text;
    font-size: 64px;
    text-align: center;
}

h2{
    @extend %green-text;
    font-size: 36px;
    text-align: center;

    &.undertitle{
        @extend %blue-text;
    }
}

p{
    text-align: center;
    color: $light-color;
    font-size: 18px;
    padding: 0 10vw;
}

a{
    font-size: 18px;
}

b{
    color: #2DCDFF;
}

#menuButton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 15px;
    right: 20px;
    height: 36px;
    width: 50px;

    &:hover div{
        cursor: pointer;
        box-shadow: black 1px 1px 50px;
    }

    div{
        width: 100%;
        height: 22%;

        background: linear-gradient(120deg, #00C2FF, #F3FCFF);
        border-radius: 2px;
    }
    div:first-child{ width: 75%; }
}

#menu{
    // Hidden in HTML tag
    transition: all 200ms;

    width: 60vw;
    margin: 0;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 20vw;
    z-index: 2;

    background: #ffffff;
    border-radius: 0 0 $borderRadius $borderRadius;
    list-style: none;

    li {
        text-align: center;

        a{
            color: $dark-color;
            text-decoration: none;
            font-size: 36px;
            
            &:hover{
                color: #494949;
                text-decoration: underline;
            }
        }
    }   
}

#menuOverlay{
    // Hidden in HTML tag
    transition: all 200ms;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    height: 100vh;
    width: 100vw;

    background-color: black;
}

#headingImg{
    $size: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    .headerImgBorder{
        position: relative;
        top: 0;

        height: $size;
        width: $size;

        background: linear-gradient(120deg, #00FF94, #E9FFF6);
        border-radius: 50%;
        
        img{
            position: relative;
            top: 3px;
            left: 3px;
            height: $size - 6px;
            width: $size - 6px;
            
            border-radius: 50%;
        }
    }

    hr{
        position: relative;
        top: $size / 2;

        height: 3px;
        width: 100vw;
        margin: 0;

        background: linear-gradient(120deg, #00FF94, #E9FFF6);
        border: none;
    }
}

.socials{
    display: flex;
    justify-content: center;

    .socialIcon{
        @extend %blue-text;
        margin: 0 10px;
        cursor: pointer;

        &:hover{
            text-shadow: black 1px 1px 50px;
        }
    }
}

#projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    width: 540px;

    .project{
        $size: 260px;
        height: $size;
        width: $size;
        margin: 5px;

        background: linear-gradient(120deg, #00C2FF, #F3FCFF);

        cursor: pointer;

        &:first-child, &:first-child img, &:first-child .banner{
            border-radius: $borderRadius $borderRadius 0 0;
        }
        &:last-child, &:last-child img{
            border-radius: 0 0 $borderRadius $borderRadius;
        }

        img{
            position: relative;
            left: 2px;
            top: 2px;
            height: $size - 4px;
            width: $size - 4px;
            object-fit: cover;
        }

        .banner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
            top: -$size;

            height: 15%;
            width: 100%;
            background-color: rgba(#000000, 0.3);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);

            transition: height 300ms ease-out;

            p{
                margin: 0;
                padding: 0;
                font-family: 'Saira', sans-serif;
                font-size: 24px;
            }

            small{
                display: none;
                text-align: center;
                color: $light-color;
            }
        }

        &:hover .banner{
            height: 100%;

            small{
                display: inline;
            }
        }
    }
}

// Change projects container flexbox on bigger screens
// Shows 2 columns
@media only screen and (min-width: 1000px){
    #projectsContainer{
        flex-direction: row;

        .project{  
            &:first-child, &:first-child img, &:first-child .banner{
                border-radius: 0;
            }
            &:last-child, &:last-child img{
                border-radius: 0;
            }
        }
    }
}

#backButton{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 12px;
    left: 0;
    z-index: 1;

    height: 40px;
    width: 120px;

    background-color: rgba(#ffffff, 0.9);
    border-radius: 0 $borderRadius $borderRadius 0;

    a{
        color: $dark-color;
        text-decoration: none;
        font-size: 27px;
        
        &:hover{
            color: #494949;
            text-decoration: underline;
        }
    }
}

#imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 90vw;

    img{
        height: 300px;
        width: 300px;
        padding: 0;
        margin: 5px;

        object-fit: cover;

        cursor: pointer;
        filter: contrast(90%);

        &:hover{
            filter: contrast(100%);
        }

        &.largeImage{
            position: fixed;
            top: 7vh;
            left: 7vw;
            z-index: 2;

            height: 86vh;
            width: 86vw;

            object-fit: contain;

            background-color: black;
            border: solid 1px $light-color;
        }
    }
}

#backgroundOverlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100vh;
    width: 100vw;
    background:rgba(#000000, 0.8);
}

footer{
    height: 30px;
    width: 100%;
    margin-top: 80px;
    background: linear-gradient(120deg, #00FF94, #E9FFF6);

    text-align: center;
    color: $dark-color;
}